.App
    background: #333333
    color: white
    height: 100vh
header
    height: 100px
    display: flex
    justify-content: center
    align-items: center
main
    padding: 2em
    display: flex
    justify-content: center
    align-items: center
